@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #0f172a;
}


button{
    cursor: pointer;
}


body{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.google-header{
    font-family: "Poppins", sans-serif;
}


/* header section starts here */

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}


.header-left-container, .header-nav-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.header-nav-container a .braille-image{
    padding-top: 0.2rem;
    background-color: white;
}


.header-nav-container button{
    border: none;
    background: transparent;
}


.header-nav-container button .saikat-image{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
}


.text-link{
    color: inherit;
    text-decoration: none;
}


.text-link:hover{
    text-decoration: underline;
}


.icon-link{
    color: inherit;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}


/* Responsive */

@media screen and (max-width: 600px){
    .header-left-container a{
        display: none;
    }
}

/* header section ends here */