@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #0f172a;
}


button{
    cursor: pointer;
}


body{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.google-header{
    font-family: "Poppins", sans-serif;
}


/* header section starts here */

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}


.header-left-container, .header-nav-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.header-nav-container a .braille-image{
    padding-top: 0.2rem;
    background-color: white;
}


.header-nav-container button{
    border: none;
    background: transparent;
}


.header-nav-container button .saikat-image{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
}


.text-link{
    color: inherit;
    text-decoration: none;
}


.text-link:hover{
    text-decoration: underline;
}


.icon-link{
    color: inherit;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}


/* Responsive */

@media screen and (max-width: 600px){
    .header-left-container a{
        display: none;
    }
}

/* header section ends here */


/* main section starts here */

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
}


.input-bar{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    border: 3px solid rgb(235, 235, 235);
    padding: 1rem;
    border-radius: 1rem;
}


.input-bar:hover, .input-bar:focus-within{
    box-shadow: 0 0 4px 1px rgb(237, 237, 237);
}


.input-bar div{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.input-bar input{
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
}


.title-text{
    font-size: 5rem;
}


.input-icon{
    background: transparent;
    border: none;
}


.input-icon:hover{
    opacity: 0.6;
}


.button-grid{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.button-grid button{
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background: rgb(247, 247, 247);
    border-radius: 0.25rem;
}


.button-grid button:hover{
    border: 1px solid slategray;
}


.lang-link{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}


.lang-text{
    font-size: 0.7rem;
}


.lang-link:hover{
    text-decoration: underline;
}

/* main section ends here */


/* footer section starts here */

footer{
    background: rgb(244, 244, 244);
    font-size: 0.8rem;
}


footer > div{
    padding: 1rem;
}


.footer-grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}


.footer-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.footer-links-1:hover, .footer-links-2:hover, .footer-links-3:hover, .footer-links-4:hover, .footer-links-5:hover, .footer-links-6:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* Responsive */

@media screen and (max-width: 600px){
    .footer-grid{
        flex-direction: column;
    }   
}


@media screen and (max-width: 302px){
    footer{
        font-size: 0.5rem;
    } 
}



/* footer section ends here */